/*==================================*/
/*========== STYLE RESET ===========*/
/*==================================*/

/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}*/

/*==================================*/
/*============= Fonts ==============*/
/*==================================*/

/*html, body, div, span, applet, object, iframe, p, 
blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  font-family: 'Libre Baskerville', serif;
  font-size: 14px;
  line-height: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
}

h1 { font-size: 45px; line-height: 52px; }
h2 { font-size: 35px; line-height: 42px; }
h3 { font-size: 25px; line-height: 30px; }
h4 { font-size: 18px; line-height: 24px; }
h5 { font-size: 16px; line-height: 22px; }
h6 { font-size: 14px; line-height: 20px; }*/

a:hover {
  cursor: pointer;
}

.white { color: #ffffff; }
.purple { color: #5F00FF; }
.orange { color: #FEDC50; }
.bold { font-weight: 700 !important }
.italic { font-style: italic }

/*==================================*/
/*====== Clear Editors & Docs ======*/
/*==================================*/

/*.rdw-editor-main html, .rdw-editor-main body, .rdw-editor-main div, .rdw-editor-main span, .rdw-editor-main applet, .rdw-editor-main object, .rdw-editor-main iframe, .rdw-editor-main p, .rdw-editor-main blockquote, .rdw-editor-main pre, .rdw-editor-main a, .rdw-editor-main abbr, .rdw-editor-main acronym, .rdw-editor-main address, .rdw-editor-main big, .rdw-editor-main cite, .rdw-editor-main code, .rdw-editor-main del, .rdw-editor-main dfn, .rdw-editor-main em, .rdw-editor-main img, .rdw-editor-main ins, .rdw-editor-main kbd, .rdw-editor-main q, .rdw-editor-main s, .rdw-editor-main samp, .rdw-editor-main small, .rdw-editor-main strike, .rdw-editor-main strong, .rdw-editor-main sub, .rdw-editor-main sup, .rdw-editor-main tt, .rdw-editor-main var, .rdw-editor-main b, .rdw-editor-main u, .rdw-editor-main i, .rdw-editor-main center, .rdw-editor-main dl, .rdw-editor-main dt, .rdw-editor-main dd, .rdw-editor-main ol, .rdw-editor-main ul, .rdw-editor-main li, .rdw-editor-main fieldset, .rdw-editor-main form, .rdw-editor-main label, .rdw-editor-main legend, .rdw-editor-main table, .rdw-editor-main caption, .rdw-editor-main tbody, .rdw-editor-main tfoot, .rdw-editor-main thead, .rdw-editor-main tr, .rdw-editor-main th, .rdw-editor-main td, .rdw-editor-main article, .rdw-editor-main aside, .rdw-editor-main canvas, .rdw-editor-main details, .rdw-editor-main embed, .rdw-editor-main figure, .rdw-editor-main figcaption, .rdw-editor-main footer, .rdw-editor-main header, .rdw-editor-main hgroup, .rdw-editor-main menu, .rdw-editor-main nav, .rdw-editor-main output, .rdw-editor-main ruby, .rdw-editor-main section, .rdw-editor-main summary, .rdw-editor-main time, .rdw-editor-main mark, .rdw-editor-main audio, .rdw-editor-main video {
  
}

.doc-viewing html, .doc-viewing body, .doc-viewing div, .doc-viewing span, .doc-viewing applet, .doc-viewing object, .doc-viewing iframe, .doc-viewing p, .doc-viewing blockquote, .doc-viewing pre, .doc-viewing a, .doc-viewing abbr, .doc-viewing acronym, .doc-viewing address, .doc-viewing big, .doc-viewing cite, .doc-viewing code, .doc-viewing del, .doc-viewing dfn, .doc-viewing em, .doc-viewing img, .doc-viewing ins, .doc-viewing kbd, .doc-viewing q, .doc-viewing s, .doc-viewing samp, .doc-viewing small, .doc-viewing strike, .doc-viewing strong, .doc-viewing sub, .doc-viewing sup, .doc-viewing tt, .doc-viewing var, .doc-viewing b, .doc-viewing u, .doc-viewing i, .doc-viewing center, .doc-viewing dl, .doc-viewing dt, .doc-viewing dd, .doc-viewing ol, .doc-viewing ul, .doc-viewing li, .doc-viewing fieldset, .doc-viewing form, .doc-viewing label, .doc-viewing legend, .doc-viewing table, .doc-viewing caption, .doc-viewing tbody, .doc-viewing tfoot, .doc-viewing thead, .doc-viewing tr, .doc-viewing th, .doc-viewing td, .doc-viewing article, .doc-viewing aside, .doc-viewing canvas, .doc-viewing details, .doc-viewing embed, .doc-viewing figure, .doc-viewing figcaption, .doc-viewing footer, .doc-viewing header, .doc-viewing hgroup, .doc-viewing menu, .doc-viewing nav, .doc-viewing output, .doc-viewing ruby, .doc-viewing section, .doc-viewing summary, .doc-viewing time, .doc-viewing mark, .doc-viewing audio, .doc-viewing video {
  
}*/

/*==================================*/
/*========= Notifications ==========*/
/*==================================*/

.notifications-merge-req {
  display: inline-block;
  background: #FEDC50;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
}

.notifications-merge-req span {
  color: #6D6D6D;
  vertical-align: middle;
  font-size: 10px;
}

/*==================================*/
/*=========== Create Doc ===========*/
/*==================================*/

.create-doc-container {
  position: relative;
  height: 80vh;
}

.create-doc {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 80%;
  height: 400px;
}

.create-doc-form .create-doc-title,
.create-doc-form textarea {
  border: none;
  resize: none;
  display: block;
  width: 100%;
  padding: 10px;
}

.create-doc-form .create-doc-title:focus,
.create-doc-form textarea:focus,
.create-doc-form .create-doc-title:active,
.create-doc-form textarea:active  {
  outline: none;
}

.create-doc-form .create-doc-title {
  font-size: 40px;
  font-weight: 700;
}

.create-doc-form textarea {
  font-size: 24px;
}

.create-doc-form .privacy-selector {
  display: block;
  padding-left: 10px;
  font-size: 24px;
  color: #B3B3B3;
}

.create-doc-form .privacy-selector select {
  border: none;
  background: none;
  color: #454545;
}

.create-doc-form .btn-purple {
  padding: 10px 25px;
  font-size: 14px;
}

/*==================================*/
/*============== Tabs ==============*/
/*==================================*/

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
  border: none;
  border-bottom: 3px solid #5F00FF;
}

.nav-tabs>li>a {
  color: #585858;
  border: none;
}

.nav-tabs>li>a:focus,
.nav-tabs>li>a:hover {
  border: none;
  background-color: white;
  color: #5F00FF;
  outline: none;
  outline-offset: 0px;
}

/*==================================*/
/*============ Styling =============*/
/*==================================*/

.breadcrumb {
  background: transparent;
  padding: 0px;
}

.breadcrumb li,
.breadcrumb li a {
  color: #2A97FF;
  font-size: 18px;
  line-height: 24px;
}

.profile-avatar {
  width: 100%;
  border-radius: 3px;
}

.profile-avatar-nav {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  vertical-align: middle;
}

.app-body {
  min-height: 90vh;
}

.form-control {
  border-radius: 3px;
  border: 1px solid #B1B1B1;
  box-shadow: none;
  height: 38px;
  font-size: 15px;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.signup-container {
  height: 90vh;
}

.nav-logo {
  padding: 5px;
  margin-right: 10px;
}

.footer {
  position: relative;
  background-color: #2f2f2f;
  padding: 10px;
}

.unsaved-changes-actions li {
  display: inline-block;
}

.toast {
  border-radius: 3px !important;
  position: fixed !important;
  right: -100px !important;
  left: inherit !important;
  z-index: 9999 !important;
  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
}

.toast > div {
  border-radius: 3px !important;
  min-width: 250px !important;
  max-width: 300px !important;
}

.toast > div > div {
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
}

.toast span {
  vertical-align: middle !important;
  display: block !important;
  line-height: 48px !important;
  font-size: 12px !important;
  width: 100% !important;
  text-align: center !important;
}

.progress-bar {
  position: relative;
  left: 0;
  top: 0;
  background-color: white;
  width: 100%;
  height: 100vh;
  z-index: 9999;
}

.doc-list-title {
  color: #2A97FF;
  font-size: 18px;
  line-height: 24px;
  vertical-align: middle
}

.doc-list-title:hover,
.doc-list-title:focus {
  color: #2A97FF;
  outline: none;
  text-decoration: underline;
  cursor: pointer;
}

.doc-list-privacy-tag {
  border-radius: 3px;
  background: #FEDC50;
  padding: 4px 8px;
  color: #626262;
  font-size: 11px;
  vertical-align: middle;
}

.copied-from-tag span {
  font-size: 11px;
  color: #818181
}

.copied-from-tag a {
  font-size: 11px;
}

.doc-list-description {
  font-size: 14px;
  line-height: 20px;
  color: #545454;
}

.radioActive,
.radioActive:hover,
.radioActive:focus,
.radioActive:active {
  background-color: #5F00FF !important;
  color: white !important;
  border-color: #5F00FF !important;
  cursor: default !important;
  outline: none !important;
}

.home-page {
  position: relative;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
}

.hr-label {
  position: relative;
  text-align: center;
  clear: both;
  overflow: hidden;
}

.hr-label::before, .hr-label::after {
  content: '';
  position: relative;
  width: 50%;
  background-color: rgba(0,0,0,0.2);
  display: inline-block;
  height: 1px;
  vertical-align: middle;
}

.hr-label::before {
  right: 0.5em;
  margin-left: -50%;
}

.hr-label::after {
  left: 0.5em;
  margin-right: -50%;
}

.login-modal {
  width: 420px;
  top: 50px;
}

.login-modal .modal-header {
  padding: 20px 25px;
}

.login-modal .modal-header .close span{
  font-size: 20px;
  line-height: 27px;
}

.login-modal .modal-body {
  padding: 25px;
}

.forgot-password {
  width: 100%;
  font-size: 9px;
  display: block;
}

.forgot-password:hover {
  color: #5F00FF;
}

.editor .ql-toolbar {
  box-shadow: 0 1px 10px rgba(0, 0, 0, .1);
}

.editor .ql-editor {
  padding: 1rem;
}

.editor .ql-tooltip.ql-image-tooltip {
  float: none;
}

.btn-purple {
  background-color: #5F00FF;
  border-radius: 3px;
  border: 1px solid #520ACB;
  padding: 8px 15px;
  color: white;
  font-size: 12px;
}

.btn-purple:hover,
.btn-purple:focus,
.btn-purple:active {
  cursor: pointer;
  background-color: #520ACB;
  color: #fff;
  text-decoration: none;
  outline: none;
}

.btn-gray {
  background-color: #EDEDED;
  border-radius: 3px;
  border: 1px solid #838383;
  padding: 8px 15px;
  color: #333333;
  font-size: 12px;
}

.btn-gray:hover,
.btn-gray:focus,
.btn-gray:active {
  cursor: pointer;
  background-color: #E4E4E4;
  color: #333333;
  text-decoration: none;
  outline: none;
}

.btn-cancel {
  padding: 8px 15px;
  background-color: white;
  border: none;
  color: #5F00FF;
  font-size: 12px;
  display: inline-block;
}

.btn-cancel:hover,
.btn-cancel:focus,
.btn-cancel:active {
  cursor: pointer;
  outline: none;
  text-decoration: underline;
}

.btn-exit {
  position: absolute;
  right: 10px;
  top: 6px;
  color: #a9a9a9;
  font-size: 14px;
}

.btn-exit:hover,
.btn-exit:focus,
.btn-exit:active {
  cursor: pointer;
  outline: none;
  color: #828282;
}

.checkbox {
  display: block;
  width: 100%;
  margin-top: 10px;
  font-size: 11px;
}

.doc-desc-metrics,
.merge-actions {
  border: 1px solid #E6E6E6;
  padding: 9px 15px;
  border-radius: 3px;
}

.merge-actions p {
  line-height: 30px;
}

.breadcrumb {
  margin-bottom: 0;
}

.breadcrumb > li {
  font-size: 18px;
}

.thisShit {
  position: relative;
}

.merge-comment {
  border: 1px solid #E6E6E6;
  background-color: white;
  border-radius: 3px;
  position: absolute;
  right: 0;
  top: 50px;
  padding: 10px;
  width: 300px;
  z-index: 2;
}

.merge-comment textarea {
  width: 100%;
  height: 60px;
  padding: 0px;
  border: none;
  resize: none;
  z-index: 2;
}

.merge-comment textarea:focus {
  outline: none;
}

.doc-review {
  background-color: #F9F9F9;
  padding: 15px 10px;
  z-index: 1;
}

.split-master,
.split-changes {
  display: inline-block;
  width: 50%;
  margin: 0;
  padding: 0;
}

.split-master {
  float: left;
}

.split-title,
.unified-title {
  display: block;
  font-size: 12px;
  color: #818181;
  font-weight: 600;
}

.split-document {
  background-color: white;
  border: 1px solid #BABABA;
  padding: 30px 40px;
  width: 560px;
  height: 725px;
}

.split-document-L {
  border-right: none; 
}

.unified-document {
  background-color: white;
  border: 1px solid #BABABA;
  padding: 30px 40px;
  height: 1056px;
}

.doc-editor {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #F9F9F9;
  padding-top: 70px;
  width: 100%;
  z-index: -1;
}

.doc-editor .title {
  position: fixed;
  left: 20px;
  bottom: 20px;
  z-index: 9999;
}

.editDoc-details {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 9999;
}

@media (min-width: 768px) {
  .doc-editor .rdw-editor-main {
      width: 750px;
  }
  .doc-editor .rdw-editor-toolbar {
      padding: 5px 1%;
  }
}

@media (min-width: 992px) {
  .doc-editor .rdw-editor-main {
      width: 815px;
  }
  .doc-editor .rdw-editor-toolbar {
      padding: 5px 5%;
  }
}

@media (min-width: 1200px) {
  .doc-editor .rdw-editor-main {
      width: 815px;
  }
  .doc-editor .rdw-editor-toolbar {
      padding: 5px 5%;
  }
}

.doc-editor .rdw-editor-toolbar,
.doc-editor .rdw-editor-main {
  margin-right: auto;
  margin-left: auto;
}

.doc-editor .rdw-editor-toolbar {
  width: 100%;
  background-color: #EFF0EF;
}

.doc-editor .rdw-editor-main {
  margin-bottom: 30px;
}

.navbar {
  margin-bottom: 0px;
}

.navbar li a:focus {
  outline: none;
}

.list-title {
  cursor: pointer;
  text-decoration: underline;
}

.nav-clear {
  position: absolute;
  background: rgba(0,0,0,0);
  border: none;
  color: white;
  left: 0;
  top: 0;
  width: 100%;
  border-radius: 0px;
  padding: 10px;
}

.nav-clear a {
  color: white !important;
}

.nav-clear .signup a {
  border: 2px solid white;
  border-radius: 3px;
  padding: 8px 20px;
  margin-right: -20px;
  margin-left: 5px;
  margin-top: 6px;
}

.nav-clear .signup a:hover,
.nav-clear .signup a:focus {
  background: rgba(255, 255, 255, 0.1);
}

.nav-clear .dropdown-menu,
.nav-clear .navbar-nav>.open>a,
.nav-clear .navbar-nav>.open>a:focus,
.nav-clear .navbar-nav>.open>a:hover {
  background-color: #5F00FF;
}

.nav-clear .dropdown-menu > li > a:hover,
.nav-clear .dropdown-menu > li > a:focus {
  background-color: #520ACB;
  color: white;
}

.nav-clear .dropdown-menu {
  border: none;
}

.nav-clear .navbar-toggle {
  border-color: #fff !important;
}

.nav-clear .icon-bar {
  background-color: #fff !important;
}

@media (max-width: 768px) {
  .nav-clear {
    position: relative;
    background: #5F00FF;
  }
  .nav-clear .signup a {
    width: 90px;
  }
}

.nav-white {
  background: white;
  border-bottom: 1px solid #f1f1f1;
  border-radius: 0px;
  padding: 10px;
}

.nav-logo {
  cursor: pointer;
}

/*==================================*/
/*======== Merge Styling ===========*/
/*==================================*/

.text-addition {
  background-color: rgba(1, 187, 72, 0.49);
}

.text-deletion {
  background-color: rgba(201, 2, 66, 0.5);
  color: black;
}

.strikethrough {
  text-decoration: line-through;
  color: rgba(201, 2, 66, 0.5);
}

/*==================================*/
/*======== Home Page Style ==========*/
/*==================================*/

.fold_one {
  background: -webkit-linear-gradient(148deg, #02f0ff, #5400ff);
  padding-top: 100px;
}
.fold_one h1,
.fold_one h4 {
  color: white;
}

/*==================================*/
/*============ Spacing =============*/
/*==================================*/

.pt5 {padding-top: 5px;}
.pt10 {padding-top: 10px;}
.pt15 {padding-top: 15px;}
.pt20 {padding-top: 20px;}
.pt25 {padding-top: 25px;}
.pt30 {padding-top: 30px;}
.pt35 {padding-top: 35px;}
.pt40 {padding-top: 40px;}
.pt45 {padding-top: 45px;}
.pt50 {padding-top: 50px;}
.pt55 {padding-top: 55px;}
.pt60 {padding-top: 60px;}
.pt65 {padding-top: 65px;}
.pt70 {padding-top: 70px;}
.pt75 {padding-top: 75px;}
.pt80 {padding-top: 80px;}
.pt150 {padding-top: 150px;}
.pb5 {padding-bottom: 5px;}
.pb10 {padding-bottom: 10px;}
.pb15 {padding-bottom: 15px;}
.pb20 {padding-bottom: 20px;}
.pb25 {padding-bottom: 25px;}
.pb30 {padding-bottom: 30px;}
.pb35 {padding-bottom: 35px;}
.pb40 {padding-bottom: 40px;}
.pb45 {padding-bottom: 45px;}
.pb50 {padding-bottom: 50px;}
.pb55 {padding-bottom: 55px;}
.pb60 {padding-bottom: 60px;}
.pb65 {padding-bottom: 65px;}
.pb70 {padding-bottom: 70px;}
.pb75 {padding-bottom: 75px;}
.pb80 {padding-bottom: 80px;}
.mt5 {margin-top: 5px;}
.mt10 {margin-top: 10px;}
.mt15 {margin-top: 15px;}
.mt20 {margin-top: 20px;}
.mt25 {margin-top: 25px;}
.mt30 {margin-top: 30px;}
.mt35 {margin-top: 35px;}
.mt40 {margin-top: 40px;}
.mt45 {margin-top: 45px;}
.mt50 {margin-top: 50px;}
.mt55 {margin-top: 55px;}
.mt60 {margin-top: 60px;}
.mt65 {margin-top: 65px;}
.mt70 {margin-top: 70px;}
.mt75 {margin-top: 75px;}
.mt80 {margin-top: 80px;}
.mb5 {margin-bottom: 5px;}
.mb10 {margin-bottom: 10px;}
.mb15 {margin-bottom: 15px;}
.mb20 {margin-bottom: 20px;}
.mb25 {margin-bottom: 25px;}
.mb30 {margin-bottom: 30px;}
.mb35 {margin-bottom: 35px;}
.mb40 {margin-bottom: 40px;}
.mb45 {margin-bottom: 45px;}
.mb50 {margin-bottom: 50px;}
.mb55 {margin-bottom: 55px;}
.mb60 {margin-bottom: 60px;}
.mb65 {margin-bottom: 65px;}
.mb70 {margin-bottom: 70px;}
.mb75 {margin-bottom: 75px;}
.mb80 {margin-bottom: 80px;}

.pl5 {padding-left: 5px;}
.pl10 {padding-left: 10px;}
.pl15 {padding-left: 15px;}
.pl20 {padding-left: 20px;}
.pl25 {padding-left: 25px;}
.pl30 {padding-left: 30px;}
.pl35 {padding-left: 35px;}
.pl40 {padding-left: 40px;}
.pl45 {padding-left: 45px;}
.pl50 {padding-left: 50px;}
.pl55 {padding-left: 55px;}
.pl60 {padding-left: 60px;}
.pl65 {padding-left: 65px;}
.pl70 {padding-left: 70px;}
.pl75 {padding-left: 75px;}
.pl80 {padding-left: 80px;}
.pr5 {padding-right: 5px;}
.pr10 {padding-right: 10px;}
.pr15 {padding-right: 15px;}
.pr20 {padding-right: 20px;}
.pr25 {padding-right: 25px;}
.pr30 {padding-right: 30px;}
.pr35 {padding-right: 35px;}
.pr40 {padding-right: 40px;}
.pr45 {padding-right: 45px;}
.pr50 {padding-right: 50px;}
.pr55 {padding-right: 55px;}
.pr60 {padding-right: 60px;}
.pr65 {padding-right: 65px;}
.pr70 {padding-right: 70px;}
.pr75 {padding-right: 75px;}
.pr80 {padding-right: 80px;}
.ml5 {margin-left: 5px;}
.ml10 {margin-left: 10px;}
.ml15 {margin-left: 15px;}
.ml20 {margin-left: 20px;}
.ml25 {margin-left: 25px;}
.ml30 {margin-left: 30px;}
.ml35 {margin-left: 35px;}
.ml40 {margin-left: 40px;}
.ml45 {margin-left: 45px;}
.ml50 {margin-left: 50px;}
.ml55 {margin-left: 55px;}
.ml60 {margin-left: 60px;}
.ml65 {margin-left: 65px;}
.ml70 {margin-left: 70px;}
.ml75 {margin-left: 75px;}
.ml80 {margin-left: 80px;}
.mr5 {margin-right: 5px;}
.mr10 {margin-right: 10px;}
.mr15 {margin-right: 15px;}
.mr20 {margin-right: 20px;}
.mr25 {margin-right: 25px;}
.mr30 {margin-right: 30px;}
.mr35 {margin-right: 35px;}
.mr40 {margin-right: 40px;}
.mr45 {margin-right: 45px;}
.mr50 {margin-right: 50px;}
.mr55 {margin-right: 55px;}
.mr60 {margin-right: 60px;}
.mr65 {margin-right: 65px;}
.mr70 {margin-right: 70px;}
.mr75 {margin-right: 75px;}
.mr80 {margin-right: 80px;}

/*==================================*/
/*======== Social Buttons ==========*/
/*==================================*/

.btn-social{position:relative;padding-left:44px;text-align:center;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.btn-social>:first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-social.btn-lg{padding-left:61px}.btn-social.btn-lg>:first-child{line-height:45px;width:45px;font-size:1.8em}
.btn-social.btn-sm{padding-left:38px}.btn-social.btn-sm>:first-child{line-height:28px;width:28px;font-size:1.4em}
.btn-social.btn-xs{padding-left:30px}.btn-social.btn-xs>:first-child{line-height:20px;width:20px;font-size:1.2em}
.btn-social-icon{position:relative;padding-left:44px;text-align:center;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;height:34px;width:34px;padding:0}.btn-social-icon>:first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-social-icon.btn-lg{padding-left:61px}.btn-social-icon.btn-lg>:first-child{line-height:45px;width:45px;font-size:1.8em}
.btn-social-icon.btn-sm{padding-left:38px}.btn-social-icon.btn-sm>:first-child{line-height:28px;width:28px;font-size:1.4em}
.btn-social-icon.btn-xs{padding-left:30px}.btn-social-icon.btn-xs>:first-child{line-height:20px;width:20px;font-size:1.2em}
.btn-social-icon>:first-child{border:none;text-align:center;width:100% !important}
.btn-social-icon.btn-lg{height:45px;width:45px;padding-left:0;padding-right:0}
.btn-social-icon.btn-sm{height:30px;width:30px;padding-left:0;padding-right:0}
.btn-social-icon.btn-xs{height:22px;width:22px;padding-left:0;padding-right:0}
.btn-dropbox{color:#fff;background-color:#1087dd;border-color:rgba(0,0,0,0.2)}.btn-dropbox:focus,.btn-dropbox.focus{color:#fff;background-color:#0d6aad;border-color:rgba(0,0,0,0.2)}
.btn-dropbox:hover{color:#fff;background-color:#0d6aad;border-color:rgba(0,0,0,0.2)}
.btn-dropbox:active,.btn-dropbox.active,.open>.dropdown-toggle.btn-dropbox{color:#fff;background-color:#0d6aad;border-color:rgba(0,0,0,0.2)}.btn-dropbox:active:hover,.btn-dropbox.active:hover,.open>.dropdown-toggle.btn-dropbox:hover,.btn-dropbox:active:focus,.btn-dropbox.active:focus,.open>.dropdown-toggle.btn-dropbox:focus,.btn-dropbox:active.focus,.btn-dropbox.active.focus,.open>.dropdown-toggle.btn-dropbox.focus{color:#fff;background-color:#0a568c;border-color:rgba(0,0,0,0.2)}
.btn-dropbox:active,.btn-dropbox.active,.open>.dropdown-toggle.btn-dropbox{background-image:none}
.btn-dropbox.disabled:hover,.btn-dropbox[disabled]:hover,fieldset[disabled] .btn-dropbox:hover,.btn-dropbox.disabled:focus,.btn-dropbox[disabled]:focus,fieldset[disabled] .btn-dropbox:focus,.btn-dropbox.disabled.focus,.btn-dropbox[disabled].focus,fieldset[disabled] .btn-dropbox.focus{background-color:#1087dd;border-color:rgba(0,0,0,0.2)}
.btn-dropbox .badge{color:#1087dd;background-color:#fff}
.btn-facebook{color:#fff;background-color:#3b5998;border-color:rgba(0,0,0,0.2)}.btn-facebook:focus,.btn-facebook.focus{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}
.btn-facebook:hover{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}
.btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}.btn-facebook:active:hover,.btn-facebook.active:hover,.open>.dropdown-toggle.btn-facebook:hover,.btn-facebook:active:focus,.btn-facebook.active:focus,.open>.dropdown-toggle.btn-facebook:focus,.btn-facebook:active.focus,.btn-facebook.active.focus,.open>.dropdown-toggle.btn-facebook.focus{color:#fff;background-color:#23345a;border-color:rgba(0,0,0,0.2)}
.btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook{background-image:none}
.btn-facebook.disabled:hover,.btn-facebook[disabled]:hover,fieldset[disabled] .btn-facebook:hover,.btn-facebook.disabled:focus,.btn-facebook[disabled]:focus,fieldset[disabled] .btn-facebook:focus,.btn-facebook.disabled.focus,.btn-facebook[disabled].focus,fieldset[disabled] .btn-facebook.focus{background-color:#3b5998;border-color:rgba(0,0,0,0.2)}
.btn-facebook .badge{color:#3b5998;background-color:#fff}
.btn-github{color:#fff;background-color:#444;border-color:rgba(0,0,0,0.2)}.btn-github:focus,.btn-github.focus{color:#fff;background-color:#2b2b2b;border-color:rgba(0,0,0,0.2)}
.btn-github:hover{color:#fff;background-color:#2b2b2b;border-color:rgba(0,0,0,0.2)}
.btn-github:active,.btn-github.active,.open>.dropdown-toggle.btn-github{color:#fff;background-color:#2b2b2b;border-color:rgba(0,0,0,0.2)}.btn-github:active:hover,.btn-github.active:hover,.open>.dropdown-toggle.btn-github:hover,.btn-github:active:focus,.btn-github.active:focus,.open>.dropdown-toggle.btn-github:focus,.btn-github:active.focus,.btn-github.active.focus,.open>.dropdown-toggle.btn-github.focus{color:#fff;background-color:#191919;border-color:rgba(0,0,0,0.2)}
.btn-github:active,.btn-github.active,.open>.dropdown-toggle.btn-github{background-image:none}
.btn-github.disabled:hover,.btn-github[disabled]:hover,fieldset[disabled] .btn-github:hover,.btn-github.disabled:focus,.btn-github[disabled]:focus,fieldset[disabled] .btn-github:focus,.btn-github.disabled.focus,.btn-github[disabled].focus,fieldset[disabled] .btn-github.focus{background-color:#444;border-color:rgba(0,0,0,0.2)}
.btn-github .badge{color:#444;background-color:#fff}
.btn-google{color:#fff;background-color:#dd4b39;border-color:rgba(0,0,0,0.2)}.btn-google:focus,.btn-google.focus{color:#fff;background-color:#c23321;border-color:rgba(0,0,0,0.2)}
.btn-google:hover{color:#fff;background-color:#c23321;border-color:rgba(0,0,0,0.2)}
.btn-google:active,.btn-google.active,.open>.dropdown-toggle.btn-google{color:#fff;background-color:#c23321;border-color:rgba(0,0,0,0.2)}.btn-google:active:hover,.btn-google.active:hover,.open>.dropdown-toggle.btn-google:hover,.btn-google:active:focus,.btn-google.active:focus,.open>.dropdown-toggle.btn-google:focus,.btn-google:active.focus,.btn-google.active.focus,.open>.dropdown-toggle.btn-google.focus{color:#fff;background-color:#a32b1c;border-color:rgba(0,0,0,0.2)}
.btn-google:active,.btn-google.active,.open>.dropdown-toggle.btn-google{background-image:none}
.btn-google.disabled:hover,.btn-google[disabled]:hover,fieldset[disabled] .btn-google:hover,.btn-google.disabled:focus,.btn-google[disabled]:focus,fieldset[disabled] .btn-google:focus,.btn-google.disabled.focus,.btn-google[disabled].focus,fieldset[disabled] .btn-google.focus{background-color:#dd4b39;border-color:rgba(0,0,0,0.2)}
.btn-google .badge{color:#dd4b39;background-color:#fff}